<h2>
<%= @restaurant.name %>
</h2>
<p>
Location:<%= @restaurant.address %>
</p>
<p>
Phone:<%= @restaurant.phone_number %>
</p>
<p>
category:<%= @restaurant.category %>
</p>

<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant), method: :delete,
data: { confirm: "Are you sure?"} %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
